.coolButton_Open {
	display: block;
	width: 32px;
	height: 32px;
	background: url('http://localhost/core/open.png') bottom;
	text-indent: -99999px;
}
.coolButton_Open:hover {
	background-position: 0 0;
}

#COOLBAR img {
	vertical-align:middle;
	border:0px;
}
#COOLBAR div {
	position	:relative;
}
#COOLBAR div div {
	top	   	:0px;
	left	   	:0px;
	position   	:absolute;
	margin-left	:auto;
        vertical-align	:middle;
	font-size	:28px;
	padding-top	:1px;
	font-weight	:bold;
	color		:blue;
	opacity		:10%;
	height		:29px;
	width		:29px;
}

#COOLBAR .Letter_Disabled {
 	filter:		Alpha(opacity=30) gray(); opacity:0.3; 
}
