/* Modified Date: 2013-07-05 16:49:22: */
/* Modified Language: 3219577884: */
 		fieldset,.coolBar {
	 		margin: 0;
			padding: 0;
			font-weight: normal;
			font-style: normal;
			font-size: 100%;
			line-height: 1;
			font-family: inherit;
			text-align: left;
		}
 	

	<!--//-->
	.fldChoose {
		display:none;
	}
	.fldChooseBar {
		text-align:left;
		padding:0px;
		height:100%;
		width:15px;
		display: run-in;
		border:2px outset;
	}
	.SearchDiv {
		width:100%;
		display:run-in;
	}
	.resize {
		position: absolute;
		overflow: hidden;
		top: 15%;
		right: -5px;
		width: 10px;
		height: 70%;
		font-size: 100px;
		background: url(/SESDF/grid.png) -75px 0px no-repeat;
		cursor: col-resize;
	}
	.search-bar {
		cursor:row-resize;
		width:80%;
		height:3px;
		border:2px outset darkgray;
		position:relative;
	}
	.sort {
		display: none;
		overflow: hidden;
		width: 0px;
		height:100%;
		vertical-align: top;
	}
	.sort-ascending {
		width: 16px;
		height: 12px;
		background: url(/SESDF/grid.png) -20px 50% no-repeat;
		display:inline-block;
	}
	.sort-descending{
		width: 16px;
		height: 12px;
		background: url(/SESDF/grid.png) -40px 50% no-repeat;
		display:inline-block;
	}
	.head {
		position: relative;
		overflow: hidden;
		height: 18px;
		vertical-align: top;
		border-width: 1px;
		border-style: none none solid none;
		border-color: #cbc7b8;
		padding-bottom: 1px;
		cursor:pointer;
		text-overflow:ellipsis;
		white-space:nowrap;
		-moz-user-select:none;
	}
	.column-clicked {background-color: red;}
	.row-light     {background-color: white;}
	.row-dark      {background-color: lightgrey;}
	.row-selected  {background-color: limegreen; cursor:pointer;}
	.row-clicked   {background-color: khaki;}
	.row-clicked-selected {background-color: lightsteelblue;}
	.desc {
		font-size:12pt;
		font-weight:bold;
		width:100%;
		background-color:steelblue;
		color:white;
		border: 1px outset mediumvioletred;
		padding: 1px;
	}
	.fieldset-filt {
		position:relative;
		display:inline;
		//width:70%;
		padding-left:0px;
		padding-right:0px;
	}
	.fieldset-save {
		position:relative;
		display:inline-block;
		//width:25%;
		vertical-align:bottom;
	}
     .fieldset-ctrl {
          position:relative;
          width:100%;
		  margin-left:3px;
     }
     .fieldset-ctrl select {
          padding-top:1px;
          padding-bottom:1px;
     }
	.legend {
		font-size:10pt;
		font-weight:bold;
	}
	.HdrCtrl {
		font-size:10pt;
		font-weight:normal;
		line-height:25px;
	}
     .ctrltable {
          position:relative;
          margin-top: 2px; 
          margin-left: 2px;
     }
	.hdr-div {
		width:100%;
		overflow:hidden;
		display:-moz-box;
		background-color: graytext!important;
	}
	.hdr-table {
		font-size:10pt;
		table-layout:fixed;
		position:relative;
	}
	.bdy-div {
		border:1px inset;
		display:-moz-box;
		position:relative;
		width:100%;
		overflow-x:auto;
		overflow-y:auto;
	}
	.bdy-table {
		cursor:pointer;
		font-size:10pt;
		empty-cells:show;
		table-layout:fixed;
		position:relative;
		overflow:hidden;
		width:1px;
	}
	.obj-div {
		overflow:auto;
	 	z-index:1;
	 	position:relative;
	 	width:100%;
	}
	thead {display:table-header-group;}
	@media print {	
   		.fieldset-save {display:none;}
   		.fieldset-filt {display:none;}
   		.fieldset-ctrl {display:none;}
   		.search-bar {display:none;}
   		.WWW-print {display:none;}
   		.bdy-div {overflow:visible!important;}
   		.row-light {background-color:white;}
   		.row-dark {background-color:white;}
   		.row-selected {background-color:white;}
   		obj-div {background-color:white!important;}
   		obj-div {overflow:visible!important;}
   		bdy-head {display:table-header-group;}
   		hdr-div {display:none;}
   		BODY {background-color:white;}
	}
	
