body, ul, li {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}

.menu li div div div div div div img {
	vertical-align:top;
}

.menu li div div div div div div p {
	color:black;
	margin:0px;
	cursor:pointer
}

.menu {
	list-style:none;
	width:100%;
	margin:0px 0px 0px 0px;
	height:43px;
	padding:0px 0px 0px 0px;

	/* Background color and gradients */
	
	background: #333333;
	
	/* Borders */
	
	border: 1px solid #333333;

	//-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	//-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	//box-shadow:inset 0px 0px 1px #edf9ff;
}
#menu {
	height:21px;
}
#menu2 {
	height:28px;
	/* Background color and gradients */
	
	/* background: #014464; */
 	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#67A3BF, EndColorStr=#61889A);
	background	: -moz-linear-gradient(top, #67A3BF, #61889A);
	background-image: -moz-linear-gradient(top, #67A3BF, #61889A);
	background	: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#67A3BF), to(#61889A));

}
#menu2 li {
	z-index:1;
}
.menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
	margin-right:8px;
	margin-left:8px;
	border:none;
	z-Index:999999999;
	font-weight:bold;
}
.menu li.mruSeparator {
	padding:0px;
	margin:0px;
	color:#eeeeee;
}

#menu li {
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
	font-weight:normal;
}

#menu li.mruSeparator {
	margin-top:0px;
}
.menu .lihover {
	border: none;
	background:#EDEDED;
	text-decoration:none;
}
.menu .lihover_right {
	background:#EDEDED;
	text-decoration:none;
	float:right;
	margin-right:0px;
}
.menu li ul a{
	font-size:12px; 
	color:#000000;
	width:215px;
}
.menu li:hover ul a{
	cursor:pointer;
}
.menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
}
.menu li a:hover {
	text-decoration:none;
	color: #EEEEEE;
}

#menu2 li a {
	font-size:18px;
}
.menu li .drop {
	padding-right:0px;
	background:url("img/drop.png") no-repeat right 8px;
}
.alert {
	margin-left:0px;
	margin-top:1px;
	width:15px;
	height:15px;
	font-size:12px;
	font-weight:normal;
	color:red;
	background-color:#EEEEEE;
	line-height:17px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_right, 
.dropdown_3columns, 
.dropdown_flexible,
.dropdown_5columns,
.mrulist,
.mrulist_left {
	margin:0px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
 	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EEEEEE, EndColorStr=#BBBBBB);
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
	background-color:#F4F4F4;

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.mrulist_left {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}

.dropdown_1column {width: 140px; }
.dropdown_2columns {width: 280px;} 
.dropdown_right    {width: 280px;
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    	-webkit-border-radius: 5px 0px 5px 5px;
    	border-radius: 5px 0px 5px 5px;
} 
.dropdown_3columns {width: 420px;}
.column1 { width: 290px; }
.columns2 { width: 560px; }
.columns3 { width: 830px; }
.columns4 { width: 1100px; }
.dropdown_5columns {width: 700px;}
.mrulist, .mrulist_left {
	width:auto;
	border-top:1px solid black;
	position:absolute;
	display:block;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6 {
	display:inline;
	float: left;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
.col_6 {width:285px;}

.menu .menu_right {
	float:right;
	margin-right:0px;
}
.menu .menu_rightLocation {
      float:right;
      margin-right:0px;
      font-size:12px;
      font-weight:normal;
      /*padding: 4px 8px;*/
      padding-top: 6px;
      padding-right: 8px;
}
.menu .menu_rightLocation a {
      color: #eeeeee;
      text-decoration: none;
}
.menu .menu_rightLocation a:hover {
      color: #eeeeee;
      text-decoration: none;
}
.menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    	-webkit-border-radius: 5px 0px 5px 5px;
    	border-radius: 5px 0px 5px 5px;
}

.menu p, .menu h2, .menu h3, .menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
.menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
.menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

.menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

.menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	widqth:130px;
}

.menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	-khtml-border-radius: 5px;
    	border-radius: 5px;
}
.menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
.menuimg {
	position:relative;
	left:-4px;
}
.menu li .menuitem {
	font-size:12px;
	color:black;
	display:inline;
	/*width:100%;
        position:relative;*/
	top:0px;
	left:0px;
	padding:3px;
}
.menu li .menuitem:hover {
	color:black;
	background-color: #E0E0E0;
	text-decoration:none;
	cursor:pointer;
}
.menu li .menuitem:active {
      background-color: lightsteelblue;
}

.menu li table {
	font-size:12px;
	font-weight:bold;
}

.menu .statusOK {
	display:inline;
	color:green;
}
.menu .statusWarning {
	display:inline;
	color:red;
}
.menu .formname {
	font-size:16px;
	max-width:400px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}
.formname2 {
      font-size:16px;
      float: left;
      color: #eeeeee;
      font-weight: bold;
      text-align: left center;
      padding: 4px 10px 3px 10px;
      white-space:nowrap;
}

.menu .OverviewWrapper {
	color:#000000;
}
.menu .LI.menudefault {
	list-style-image:url(#(strImageDirectory)#/html.gif);
	list-style-position:inside;
}
.menu .UL.Overview {
	list-style:none;
	width:265px;
	float:left;
	padding:0px;
	margin:0px;
	background-color:#(YWHITE)#;
}
.menu UL.Overview DIV.Section {
	height:45px;color:#0B48AE;
	line-height:65px;
	font-weight:bold;
	text-indent: 26px;
	font-size:14px;
}
.menu .UL.Overview DIV.Section SPAN.Title {
	position:relative;
	top:10px;
}
.menu .UL.Overview LI A{
	color:#000000;
	text-decoration:none;
	padding-left:5px;
}
.menu UL.Overview A:Hover {
	color: #000000;
	background-color: #E0E0E0;
}
.menu UL.Overview A:active {
      background-color: lightsteelblue;
}
.menu UL.Overview LI {
	margin-left:20px;
	list-style-position: inside;
}
.menu UL.Overview LI:hover{
      margin-left:20px;
      list-style-position: inside;
}
.menu HR.OverviewDivider {
	clear:left;
	/*width:795px;*/
	visibility:hidden;
}
.menu .menuitembranch {
	vertical-align:top;
	border:none;
}
.actionButton {
      display: inline;
      font-size: 12px;
      font-weight: bold;
      padding: 7px 14px;
      background-color: #E0E0E0;
      border: 1px solid #BABABA;
}
.actionButton:hover {
      text-decoration: none;
      border: 1px solid #666666;
}
.actionButton:active {
      background-color: #F0F0F0;   
}
